// TYPOGRAPHY ================================================

@font-face{
  font-family: "TitilliumWeb-Regular";
  src: url('/assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face{
  font-family: "TitilliumWeb-Light";
  src: url('/assets/fonts/TitilliumWeb-Light.ttf') format('truetype');
}


@font-face{
  font-family: "OpenSans-Regular";
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
  font-family: "OpenSans-Light";
  src: url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
}

$base-font: 'OpenSans-Regular', sans-serif;
$heading-font: "TitilliumWeb-Regular";
$caption-font: 'OpenSans-Light';
$code-font: 'source-code-pro', monospace;
$alt-font: 'TitilliumWeb-Light';

$doc-font-size: 16;
$doc-line-height: 24;

$border-radius: 3px;


// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;  
}


// COLORS =====================================================
$white              : #fff;
$black              : #000;
$grey               : grey;
$light_grey         : rgba(121, 121, 151, .5);
$body-color         : #fff;
$text-color         : #222;
$base-color         : #343434;    
$comp-color         : spin($base-color, 180); 
$border-color       : #ddd;
$accent-color       : $black;
$link-color         : #222;
$green              : rgb(120, 151, 120);

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $body-color;
$table-header-color           : lighten($table-background, 10);
$table-hover-color            : darken($table-background, 2);
$table-stripe-color           : darken($table-background, 4);
$table-stripe-color-hover     : darken($table-stripe-color, 5);

.grey {
  color: $grey !important;
}

.green {
  color: $green !important;
}


// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
